body {
	background-image: url(../pictures/hintergrund.png);
	background-repeat: repeat-y; float: right;
 	background-position: top;
	background-attachment: fixed;
	text-align: justify;
	font-size: 20px;
	font-family: Arial, Verdana;

}

table {
    font-size: 20px;
    font-family: Arial, Verdana;
    text-align: center;
  }

 table a {
 	text-decoration: none;
 	font-size: 16px;
 	height: 50px;
 }

 table th {
 	width: 200px;
 	border-spacing:10pt;
 }

 #text {
 	width: 2000px;
 }

 a:link, a:visited {
	color: black;
}

a:active, a:hover {
	color: black;
}

#Sternenschweif {
	background-image: url(../pictures/SternenschweifBuch.jpg);
	background-size: cover;
	list-style: none;
	width: 200px;
	height: 200px;
	display: block;
    margin-left: auto;
    margin-right: auto 
} 

#Mia {
	background-image: url(../pictures/MiaAndMe.jpeg);
	background-size: cover;
	display: block;
    margin-left: auto;
    margin-right: auto;
	list-style: none;
	width: 200px;
	height: 200px;
}

#EinhornSpiel {
	background-image: url(../pictures/DasWeißeEinhornSpiel.jpg);
	background-size: cover;
	display: block;
    margin-left: auto;
    margin-right: auto;
	list-style: none;
	width: 400px;
	height: 200px;
}

#unicorn {
	background-image: url(../pictures/unicorn.gif);
	background-size: cover;
	display: block;
    margin-left: auto;
    margin-right: auto;
	list-style: none;
	width: 300px;
	height: 200px;
}

#Robot {
	background-image: url(../pictures/robot_unicorn_attack.jpg);
	background-size: cover;
	display: block;
    margin-left: auto;
    margin-right: auto;
	list-style: none;
	width: 300px;
	height: 200px;
}

#Statistik{
	background-image: url(../pictures/Unicorn-Club.jpg);
	background-size: cover;
	margin-left: auto;
    margin-right: auto;
	list-style: none;
	width: 500px;
	height: 350px;
	display: block;
}

#Schrift{
	text-align: center;
	font-size: 20px;
}

#überschrift {
	text-align: center;
	font-size: 30px;
	height: 70px;
}

#IT{
	text-align: center;	
}

#center{
	text-align: center;
}

#footer {
	background-color: #F58FC1;
	position: bottom;
	text-align: center;
	left: 0;
	right: 0;
	bottom: 0;
	margin-bottom: 0;
	height: 2em;
	font-size: 20px;
}

.content {
min-height: 800px;
}

.content ul {
	text-align: left;
}

#unterschrift {
	font-size: 25px;
	font-weight: bold;
	text-align: center;
}

/*div.kopfbereich {
 border: 2px solid black;
 background: url(../pictures/Einhorn.jpg);
	height: 300px;
	width: 800px;
margin-left: 0px;
margin-right: 0px;
padding-left: 50px;
padding-right: 50px;
background-repeat: repeat-x; float: left;
}
*/
