body {
	background-image: url("hintergrund.jpg");

	
}

#SchriftBuch {
	color: white;
}

#Sternenschweif {
	/* Test */
	background-image: url(SternenschweifBuch.jpg);
	background-size: cover;
	margin-left: 20px;
	list-style: none;
	width: 200px;
	height: 200px;

} 

#Mia {
	background-image: url(MiaAndMe.jpeg);
	background-size: cover;
	margin-left: 20px;
	list-style: none;
	width: 200px;
	height: 200px;
}

#EinhornSpiel {
	background-image: url(DasWeißeEinhornSpiel.jpg);
	background-size: cover;
	margin-left: 20px;
	list-style: none;
	width: 400px;
	height: 200px;
}

#unicorn {
	background-image: url(unicorn.gif);
	background-size: cover;
	margin-left: 20px;
	list-style: none;
	width: 300px;
	height: 200px;
}

#kopfbereich {
  background: url(Einhorn.jpg) no-repeat left top;
  height: 300px;
  width: 1100px;
}




#Robot {
	background-image: url(robot_unicorn_attack.jpg);
	background-size: cover;
	margin-left: 20px;
	list-style: none;
	width: 300px;
	height: 200px;
}

