body {
	background-image: url("hintergrund.jpg");
	background-repeat: repeat-y; float: right;
}

#SchriftBuch {
	color: white;
}

#Sternenschweif {
	/* Test */
	background-image: url(SternenschweifBuch.jpg);
	background-size: cover;
	margin-left: 20px;
	list-style: none;
	width: 200px;
	height: 200px;

} 

#Mia {
	background-image: url(MiaAndMe.jpeg);
	background-size: cover;
	margin-left: 20px;
	list-style: none;
	width: 200px;
	height: 200px;
}

#EinhornSpiel {
	background-image: url(DasWeißeEinhornSpiel.jpg);
	background-size: cover;
	margin-left: 20px;
	list-style: none;
	width: 400px;
	height: 200px;
}

#unicorn {
	background-image: url(unicorn.gif);
	background-size: cover;
	margin-left: 20px;
	list-style: none;
	width: 300px;
	height: 200px;
}

div.kopfbereich {
 border: 2px solid black;
 background: url(Einhorn.jpg) no-repeat left top;
height: 200px;

text-align: center;
margin-left: 120px;
margin-right: 120px;
padding-left: 50px;
padding-right: 50px;
background-repeat: repeat-x; float: left;
}

#Robot {
	background-image: url(robot_unicorn_attack.jpg);
	background-size: cover;
	margin-left: 20px;
	list-style: none;
	width: 300px;
	height: 200px;
}

